h1 {
    font-weight: 200;
}

span, div {
    font-weight: 100;
}


.details {
    display: grid;
    grid-template-rows: 1fr 4fr;
    justify-items: center;
    text-align: center;
}

.stats {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr; 
    align-content: center;
    text-align: center;
    width: auto;

}

main {
}
#trail-picture {
    width: 97%;
    height: auto;
}

.description {
    text-align: left;
    padding: 2.5%;
}